<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    <link rel="icon" type="image/svg+xml" href="/vite.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vite App</title>
  </head>
  <body>
    <!-- {% include 'post.html' %} -->
    <div id="app">
    </div>
    <div>
      <h1>Heading 1</h1>
      <p class="article">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laborum necessitatibus ratione praesentium reprehenderit labore magni ullam similique quos, exercitationem sequi deleniti ad ab, earum magnam obcaecati totam commodi inventore porro!</p>
    </div>  
    <div class="random"></div>
    <%- include('layouts/home.ejs'); %>
    <script type="module" src="/main.js"></script>

  </body>
</html>
