<%- include('layouts/base/head.ejs', {title: 'Main page'});  %>
  <%- include('layouts/blocks/header/header.ejs'); %>
  <%- include('layouts/blocks/breadcrumbs/breadcrumbs.ejs', { pages: ['Gallery', 'Abstract'] }) %>
  <main class="main">
    <section class="wrapper main__wrapper">
      <div class="main__header">
        <h2 class="main__title">Gallery</h2>
        <%- include('layouts/blocks/categories/categories.ejs', { categories: ['All', 'Abstract', 'Sea', 'Mountains'] }); %>
      </div>
      <ul class="works">
        <% for (let i = 1; i <= 12; i += 1) { %>
          <li class="work">
            <a href="#" class="work__link">
              <img src="/images/works/thumbnails/<%= i %>.jpg" alt="" class="work__img">
              <div class="work__description">
                <h3 class="work__title">Beautiful painting</h3>
                <p class="work__price">$10000</p>
              </div>
            </a>
          </li>
        <% } %>
      </ul>
    </section>
  </main>
  <%- include('layouts/blocks/footer/footer.ejs'); %>
  
  <script type="module" src="main.js"></script>
  </body>
</html>
    