<% let navItems = ['Home', 'About me', 'Blog', 'Contacts']; %>

<header class="header">
    <div class="wrapper header__wrapper">
        <div class="header__logo">
            <h1 class="header__title"><a href="#">ArtYasins</a></h1>
        </div>
        <nav class="header__nav">
            <ul class="header__list">
                <% for (let i=0; i < navItems.length; i += 1) { %>
                    <li class="header__item">
                        <a href="#" class="header__link"><%= navItems[i] %></a>
                    </li>
                <% } %>
            </ul>
        </nav>
        <ul class="header__icons">
            <li class="header__icon">
                <a href="#" class="header__favor header__badge">
                    <svg class="icon">
                        <use xlink:href="/icons-sprite.svg#heart">favorites</use>
                    </svg>
                </a>
            </li>
            <li class="header__icon">
                <a href="#" class="header__cart header__badge">
                    <svg class="icon">
                        <use xlink:href="/icons-sprite.svg#cart">Cart</use>
                    </svg>
                </a>
            </li>
            <li class="header__icon">
                <a href="#" class="header__user">
                    <svg class="icon">
                        <use xlink:href="/icons-sprite.svg#user">User</use>
                    </svg>
                </a>
            </li>
        </ul>
    </div>
</header>
<script type="module" src="../../blocks/header/header.js"></script>